<thead>
<tr>
  <td><!--[ date picker ]--></td>
  <td>
    Seller
    <!--<div class="ui multiple dropdown">
      <input type="hidden" name="filters">
      <i class="filter icon"></i>
      <span class="text">seller</span>
      <div class="menu">
        <div class="scrolling menu">
          <div class="item" data-value="important">
            Kate
          </div>
          <div class="item" data-value="important">
            Dmitrii @grintender
          </div>
        </div>
      </div>
    </div>-->
  </td>
  <td>
    Client
  <!--<td>
    production
  </td>-->
  <td></td>
  <td>
    <!--<span>total</span>
    <h2>$1100</h2>-->
  </td>

</tr>
</thead>
