<div id="time-tracker-wrap">

  <div class="ui secondary menu secondary-navigation">

      <a class="item active" href="/time">personal</a>
      <!--<a class="item">my peoples' time</a>-->
      <a class="item disabled"><i class="clock outline icon"></i>workload</a>
      <a class="item">economics</a> <!-- rates, stats, etc -->
      
      <!--<a class="item disabled"><i class="clock outline icon"></i>TODOs</a>
      <a class="item disabled"><i class="clock outline icon"></i>WIKIs</a>-->

      <div class="right menu">
        <!--<a class="item disabled">
          <i class="circle icon gold-dot"></i>Hosting &amp; Asset Management</a>-->
        <a class="item" target="_blank"
        href="https://odyssey.holons.me/en/nodes/fairchild-layers/time-tracker">
        <i class="square full icon"></i>the why</a>
      </div>

  </div>

  <br>

  <div style="margin:2rem">

    <journal
      v-bind:work-periods="workPeriodEntries"
    ></journal>

    <div
      class="dummy"
      v-if="false"

    >
    <h3>XXX hours @ [ date picker ]</h3>

    //bar chart graph <!-- TODO scaling to date picker --> <br>
    X hours billable and unpaid

    <br><br>

    <table id="trackerJournal" class="hm table">

  <!-- model:

    time
    entity
    client
    name TODO: group entries with the same name, will ya?
    billable \ non billable
    paid \ pending
    tag 1 e.g. work type: design, dev, marketing, etc
    tag 2

  -->

      <thead>
        <tr>
          <th></th>
          <th colspan="2">[ all entities ]</th>
          <th colspan="2">[ all commitments ]</th>
          <th>[ billable toggle ]</th>
          <th>[ status filter ]</th>
          <th>[ tag 1 selector ]</th>
          <th>[ tag 2 selector ]</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <!-- today -->
        <tr>
          <td rowspan="5">today</td>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>

        <!-- some other day -->
        <tr>
          <td rowspan="5">May 15th</td>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
        <tr>
          <td>14:56</td>
          <td>@launcher</td>
          <td>Itay M.</td>
          <td>outreach campaign setup</td>

          <!-- ffs, what do we do here? -->
          <td>non billable</td>
          <td>paid</td>
          <!-- ffs ends -->

          <td>tag1</td>
          <td>tag2</td>
          <td><div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
              <!--<div class="item">
                Open conversation
              </div>-->
              <div class="item">
                edit
              </div>
            </div>
          </div></td>
        </tr>
      </tbody>


    </table>
    </div>

  </div>


</div>
