

<div style="margin:2rem">
  <h2>Cash Flow</h2>


  <table class="hm table">
    <thead>
      <tr>
        <th></th>
        <th>Jan 2021</th>
        <th>Feb 2021</th>
        <th>March 2021</th>
        <th>April 2021</th>
        <th>May 2021</th>
        <th>Jun 2021</th>
        <th>Jul 2021</th>
        <th>Aug 2021</th>
        <th>Sep 2021</th>
        <th>Oct 2021</th>
        <th>Nov 2021</th>
        <th>Dec 2021</th>
        <th>year total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>cash inflows</strong></td>
      </tr>
      <tr>
        <td>sales</td>
        <!-- sums of invoices paid $this month-->
        <td>$100</td>
        <td>$500</td>
        <td>$1000</td>
        <td>$100</td>
        <td>$500</td>
        <td>$1000</td>
        <td>$100</td>
        <td>$500</td>
        <td>$1000</td>
        <td>$100</td>
        <td>$500</td>
        <td>$1000</td>
      </tr>

      <tr>
        <td><strong>cash outflows</strong></td>
      </tr>
      <tr>
        <td>fixed costs</td>
        <!-- sums of fixed costs logged at costs tab-->
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>variable costs</td>
        <!-- sums of variable costs logged at costs tab-->
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>payroll</td>
        <!-- sums of payroll logged through employment contracts-->
        <td>$10</td>
        <td>$50</td>
        <td>$100</td>
        <td>$10</td>
        <td>$50</td>
        <td>$100</td>
        <td>$10</td>
        <td>$50</td>
        <td>$100</td>
        <td>$10</td>
        <td>$50</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>one-off expenses</td>
        <!-- duh -->
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
      </tr>

      <tr>
        <!-- inflow minus outflow -->
        <td><strong>subtotal:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>

      <tr>
        <td><h3 style="color:red">profit margin</h3> </td>
      </tr>

      <tr>
        <td>dividends on #equity paid</td>
        <!-- sums of invoices paid $this month-->
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
        <td>0</td>
        <td>0</td>
        <td>$50</td>
      </tr>

      <tr>
        <!-- inflow minus outflow -->
        <td><strong>net inflow:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>

      <tr>
        <!-- inflow minus outflow -->
        <td><strong>opening balance:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>

      <tr>
        <!-- inflow minus outflow -->
        <td><strong>gross closing balance:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>



    </tbody>
  </table>

  <img src="https://sun9-33.userapi.com/impg/CGsguoyxXqcNNtkpBQmmXrDSBNEYXK21f_tLIQ/xALOmHQrFPM.jpg?size=1576x784&quality=96&sign=54784cfac653b6a77a41e0d4235e9d52&type=album"
  width="auto" height="250px">

<!--
  cash inflow

    sales i.e. invoices, right?

  cash outflow

    variable costs
      and one-off expenses
      payroll

    fixed costs


  subtotal x [ 12 month by default, seasons, custom ]

  total x [ 12 month by default, seasons, custom ]
-->


</div>
