

<div style="margin:2rem">
  <h2>Cash Flow</h2>


  <table class="hm table">
    <thead>
      <tr>
        <th></th>
        <th>2019</th>
        <th>2020</th>
        <th>2021</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>net sales</td>
        <!-- sums of invoices paid $this year-->
        <td>$100</td>
        <td>$500</td>
        <td>$1000</td>
      </tr>

      <tr>
        <td>operating expenses</td>
        <!-- sums of costs-->
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
      </tr>

      <tr>
        <!-- sales minus expenses -->
        <td><strong>operating income:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>

      <br><br>

      <tr>
        <td>interest expense</td>
        <!--  -->
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>provision for income taxes</td>
        <!-- -->
        <td>$1</td>
        <td>$5</td>
        <td>$5</td>
      </tr>

      <tr>
        <!--  -->
        <td><strong>net income:</strong></td>
        <td>X</td>
        <td>XX</td>
        <td>XXX</td>
      </tr>






    </tbody>
  </table>

  <img src="https://sun9-33.userapi.com/impg/CGsguoyxXqcNNtkpBQmmXrDSBNEYXK21f_tLIQ/xALOmHQrFPM.jpg?size=1576x784&quality=96&sign=54784cfac653b6a77a41e0d4235e9d52&type=album"
  width="auto" height="250px">

<!--
  cash inflow

    sales i.e. invoices, right?

  cash outflow

    variable costs
      and one-off expenses
      payroll

    fixed costs


  subtotal x [ 12 month by default, seasons, custom ]

  total x [ 12 month by default, seasons, custom ]
-->


</div>
