
<div style="margin:2rem">

  <div class="ui grid">

    <div class="eight wide column">
      <h2>invoices</h2>

      <table>
        <tbody>
          <tr>
            <td>invoices paid this month:</td>
            <td>$XXX,XXX</td>
          </tr>
          <tr>
            <td>outstanding invoices:</td>
            <td>$XXX,XXX</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="eight wide column">
      <h2>subscriptions</h2>
      <table>
        <tbody>
          <tr>
            <td>revenue last month:</td>
            <td>$XXX,XXX</td>
          </tr>
          <tr>
            <td>expected* revenue this month:</td>
            <td>$XXX,XXX</td>
          </tr>
        </tbody>
      </table>

      <p>* no adjustment on your churn rate (cancelations); yet</p>

      <!--<h2>ecommerce</h2>-->
    </div>

  </div>

</div>
