<div>
  <h1 style="text-align:right;color:rgba(0,0,0,.63)">
    Here is a way to <br>
     look at b2b prospecting</h1>

     <div class="ui grid">

       <div class="four wide column ui grid"> <!-- segment + message -->
         <div class="eight wide column"><h3> &gt; <br>
               customer profile segment </h3>
             <h4>list building</h4>
             <h5>ideate segments:</h5>
                 <p>e.g. <br>
                 ecom stores, CMOs <br>
                 ecom stores, CMOs</p>

                 <h4>Source data:</h4>
                 <p> [ options: talent, directories, landscaping, job feeds monitoring etc ]</p>
         </div>
         <div class="eight wide column"><h3> &gt; <br>
               message </h3>
               <p>e.g. <br>
                    cust dev campaigns <br>
                    free pilots \ audits \ whatnot</p>
         </div>

         use workspaces @layers to track ideas
       </div>

       <!-- delivery channel -->
       <div class="two wide column"><h3> > <br>
           delivery channel</h3>
           <h4>aka sales cadences</h4>
           <p>channels:
               email, cold calling ... postcards
             </p>

            use Hound Outreach
       </div>

       <div class="ten wide column ui grid"> <!-- offers ... portfolio -->
         <div class="four wide column"><h3> > <br>
             offers </h3>
         </div>
         <div class="four wide column"><h3> > <br>
             commitments (contracts \ orders) ></h3>
         </div>
         <div class="four wide column"><h3> > <br>
             portfolio</h3>
         </div>
         <div class="four wide column"><h3> > <br>
             find similar clients </h3>
         </div>

         ignite conversations wherever they happen, at some point you make an #offer
         and so person enterss the pipeline you can track via Relations
       </div>
     </div>

     [ plato's flywheel feature ]

  <!-- TODO:

  say, SDR people hustle conversations and book CALLS,
  someone gotta close those calls, right? seems like we handle that in meetings

  how do we work as a team?


  -->

</div>
