{% load static %}

        <div class="one wide column"></div>

        <!-- email inboxes -->
        <div class="email-inboxes three wide column" id="email-inboxes">
          <div class="field thread-previews__search">
            <input class="" type="text" name="search" placeholder="search..." />
          </div>

          <div class="email-inboxes__create">
            <a class="thread-control" style="text-align: center">new message</a>
            <a class="thread-control" style="text-align: center"
              >start sequence</a
            >
          </div>

          <div class="email-inboxes__item">
            <div class="thread-previews__item--name">
              dmitrii.borodin
              <span class="notifications-count inverted">99</span> <br />
              @holons.today
            </div>
          </div>

          <div class="email-inboxes__item active">
            <div class="thread-previews__item--name">
              dmitrii.borodindarla
              <span class="notifications-count inverted">99</span> <br />
              @entrepreneurs.express
            </div>
          </div>

          <a class="email-inboxes__add-new"> + </a>

          <br /><br /><br /><br />

          <a class="email-inboxes__add-new settings">
            <img src="{% static 'img/holons2.svg' %}" id="holonsIcon" />
            <span style="position: relative; top: -2px; left: -5px"
              >settings</span
            >
          </a>
        </div>

        <!-- email thread previews -->
        <div class="thread-previews three wide column" id="thread-previews">
          <div class="thread-previews__controls">
            <div
              class="ui secondary menu thread-previews--filters"
              style="overflow: hidden"
            >
              <a class="item active" data-tab="tab-social"> Open </a>
              <a class="item" data-tab="tab-offline"> Archived </a>
              <a class="item" data-tab="tab-offline"> Snoozed </a>
              <a class="item" data-tab="tab-offline"> Trash </a>
            </div>
          </div>

          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item active">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Suzanne Roberts</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
          <div class="thread-previews__item">
            <div class="thread-previews__item--name">
              <strong>Roberts D.</strong>
            </div>
            <div class="thread-previews__item--subject">
              Re: ✌️I'd love to contribute a guest post
            </div>
          </div>
        </div>

        <!-- email thread working area -->
        <div
          class="thread-working-area nine wwide columns"
          id="email-thread-content"
        >
          <br />

          <div class="thread-working-area__controls">
            <button class="ui icon button">
              <i class="archive icon"></i>
            </button>
            <button class="ui icon button">
              <i class="clock outline icon"></i>
            </button>
            <button class="ui icon button">
              <i class="trash alternate outline icon"></i>
            </button>
            <button class="ui icon button">
              <i class="linkify icon"></i>
            </button>
            <select name="owner" id="owner">
              <option value="" selected>Assigned to Dmitrii</option>
              <option value="">Assign to Valentine</option>
              <option value="">Assign to Kate</option>
              <option value="">Assign to Vladimir</option>
            </select>
          </div>

          <h3 class="thread-working-area__subject">
            Re: ✌️I'd love to contribute a guest post
          </h3>

          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Assigned to you by @Valentine</div>

          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Archieved by you on 21.08.2020</div>
          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Assigned to you by @Valentine</div>

          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Archieved by you on 21.08.2020</div>

          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Assigned to you by @Valentine</div>

          <div class="thread-working-area__email" style="margin-top: 0px">
            <div class="thread-working-area__email--header">
              <img
                src="{% static 'img/Hue-image' %}"
                class="thread-working-area__email--pic"
              />

              <div class="dudes">
                info @phoenixheroes.co.uk <br />
                <strong>to</strong> darla @entrepreneurs.express
              </div>

              <div class="thread-working-area__email--controls">
                <div class="thread-working-area__email--opened-status">
                  seen
                </div>
                <div class="thread-working-area__email--time-ago">18 days</div>
              </div>
            </div>

            <div class="thread-working-area__email--content">
              <div class="thread-working-area__email--message">
                <p>Hello Gary,</p>
                <p>Sorry for being muted for a while!</p>
                <p>
                  Do you allow external writers to post articled in your blog? I
                  would like to work with you and post a couple of stories. Let
                  me know if this is possible and if there are any special
                  requirements.
                </p>
                <p>Thank you in advance!</p>
              </div>

              <button
                class="ui icon button thread-working-area__email__extras-two"
              >
                <i class="icon ellipsis horizontal"></i>
              </button>

              <div class="thread-control thread-working-area__email__extras">
                Reply
              </div>
            </div>
          </div>

          <div class="activity-log">Archieved by you on 21.08.2020</div>
        </div>
      </div>

