<html>
        <head>
                <title>teleporting to teleport</title>
                <script>
                        tokenStorage = window.localStorage;

                        targetWindow = window.parent
                        var storage = {
                                'mx_access_token': '{{ user_data.access_token }}',
                                'mx_user_id': '{{ user_data.user_id }}',
                                'mx_crypto_initialised': false,
                                'mx_device_id': '{{ user_data.device_id }}',
                                'mx_hs_url': 'https://teleport.holons.me',
                                'mx_is_guest': false,
                                'mx_is_url': 'https://teleport.holons.me',
                        }

                        targetWindow.postMessage({
                                storage: storage
                        },
                        "https://teleport.holons.me");
                </script>
        </head>
        <body>
        :)
        </body>
</html>
