{% extends "layouts/main.html" %}
{% load static %}
{% block content_area %}

<div class="hm modal gold active">
  <div class="content">
    <h2 class="title">speed dialer</h2>

    <div class="ui grid">
      <div class="ten wide column">
        <h3>
          not enough sales? <br>
          wanna win <a class="hm link" target="_blank"
          href="https://odyssey.holons.me/nodes/purpose/the-game">the game this season</a>? <br>
          girlfriend or non-binary gender-fluid partner just ditched u?
        </h3>
      </div>

      <div class="six wide column">
        <p style="text-align:center;text-transform:uppercase">
          <i class="circle outline icon"
          style="color:#FFCF4A"></i>gold and <i class="circle outline icon"></i>classic exclusive <br><br>
          we'll open it <br>
          for others someday</p>

          <div class="personification" style="margin:0">
            <img src="https://holons.me/static/img/mercury.jpg">
            <a href="https://holons.me/dial-early-access-vuWu">request early access</a>
          </div>
      </div>
    </div>

    <p>We sorted everything on the back-end of this <b>speed dialer</b>
      to free YOU for this one thing:
    </p>

    <br><br>

    <h1>pick up the phone & call </h1>

    <br><br>

    <a href="https://odyssey.holons.me/en/nodes/mercury/voice/dial" target="_blank"
    class="hm link"><i class="square full icon"></i> the why</a>

  </div>
</div>




{% endblock %}
