<thead>

  <tr>
    <td></td>
    <td>
      sender
    </td>
    <td>
      bill to
    </td>

    <td>
      <div class="ui multiple dropdown">
        <input type="hidden" name="filters">
        <i class="filter icon"></i>
        <span class="text">Status</span>
        <div class="menu">
          <div class="scrolling menu">
            <div class="item" data-value="important">
              sent
            </div>
            <div class="item" data-value="important">
              paid
            </div>
            <div class="item" data-value="important">
              overdue
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>
      <!--<span>sent</span>
      <h2>$1100</h2>
      <span>paid</span>
      <h2>$1100</h2>
      <span>overdue</span>
      <h2>$1100</h2>-->
    </td>
  </tr>
</thead>
