{% extends "layouts/main.html" %}
{% load static %}
{% block content_area %}


<div class="markets-promo">

  <div class="markets-promo--item">
    <span></span>
    All markets are <strong>invite-only</strong>. See if you eligible
  </div>

  <div class="markets-promo--item">
    <span></span>
    self-service available for Holons.Gold
  </div>

</div>


<div class="ui grid">

  <div class="one wide column">

  </div>

  <div class="five wide column">

     <div class="market">
       <img src="img/tab3.svg"
       style="filter: invert(100%) sepia(5%) saturate(407%) hue-rotate(212deg) brightness(121%) contrast(100%);">
       <h2>talent <br>
         augmentation broker</h2>

       <h3>Short-term gigs, long-term hires, consulting, agencies & CXO</h3>

         <div class="personification">
           <img src="https://holons.me/static/img/mercury.jpg">
           <a>talk to Talant</a>
         </div>
     </div>

  </div>
  <div class="five wide column">

    <div class="market">
      <img src="img/pheme.svg" alt="">
      <h2>Pheme</h2>
      <h3>attention marketplace</h3>
      <p>traffic, influencers, affiliate, newsletters, podcasts</p>


      <div class="personification">
        <img src="https://holons.me/static/img/mercury.jpg">
        <a>talk to Pheme</a>
      </div>

    </div>

  </div>

  <div class="five wide column">

    <div class="market">
      <img src="img/moneta.svg" alt="">
      <h2>coin</h2>

      <h3>
        fiat & crypto marketplace, <br>
        loans and more</h3>

        <div class="personification">
          <img src="https://holons.me/static/img/mercury.jpg">
          <a>talk to moneta</a>
        </div>
    </div>

    <div class="market">
      <h2>$GRIN</h2>
      <p>private stock market</p>


    </div>

  </div>


</div>



{% endblock %}
