{% extends "layouts/main.html" %}
{% load static %}
{% block content_area %}


<div class="markets-promo">

  <div class="markets-promo--item">
    <span></span>
    All markets are <strong>invite-only</strong>. See if you eligible
  </div>

  <div class="markets-promo--item">
    <span></span>
    self-service available for Holons.Gold
  </div>

</div>


<div class="ui grid">

  <div class="one wide column">

  </div>

  <div class="fifteen wide column">
  <h2>Grin Stock</h2>
  </div>


</div>



{% endblock %}
