{% extends "layouts/bare.html" %}
{% load static %}
{% block content_area %}



<div  class="ui grid">

  <div class="five wide column"></div>

  <div class="six wide column">

    <div class="flex" style="margin-top:10vh;margin-bottom:5vh">

      <h2>List all subscriptions</h2>  

    </div>

  </div>

</div>

<p id="profileFooter">
	this is <a href="https://odyssey.holons.me/en/nodes/prudentia-justice/identity">private profile</a>
	powered by <a href="https://holons.me/">holons.me</a>
	– 3rd millenium private market network
	for entrepreneurs, talent &amp; capital.
	<i class="circle outline icon"></i> identity, background and track record are
  <b style="color:#23272B">unverified</b>.
</p>


{% endblock %}
