{% load static %}

<div style="margin:6rem;margin-right:0">

  <div class="ui grid">
    <div class="eight wide column">

      <p>We got tired of compromises in infrastructure to run the business
        and ventured into re-building everything from scratch.</p>

      <h1 style="margin-top: -5px">holons core experience</h1>

      <p>Including, but not limited to, the following nodes:</p>

      <table class="hm ui fixed table subscription__table">
        <tr>
          <td><h4>Nodes</h4></td>
          <td></td>
          <td>
            <b>inspired by</b>
          </td>
        </tr>

        <tr>
          <td>relations</td>
          <td>a different approach to sales pipeline, commitments & CRM</td>
          <td>650+ CRMs out there</td>
        </tr>
        <tr>
          <td>Fairchild Layers</td>
          <td></td>
          <td>Trello, Jira, Asana</td>
        </tr>
        <tr>
          <td>Moneta</td>
          <td></td>
          <td>Quickbooks, PandaDoc, Carta, Revolut, PayPal</td>
        </tr>
        <tr>
          <td>Purpose</td>
          <td colspan="2">OKR framework</td>
        </tr>
      </table>


      <table class="hm ui fixed table subscription__table">
        <tr>
          <td><h4>Mercury Communication Nodes</h4></td>
          <td></td>
          <td><b>inspired by</b></td>
        </tr>

        <tr>
          <td>mail</td>
          <td>personal and shared inboxes</td>
          <td>Frontapp & gmail for business</td>
        </tr>
        <tr>
          <td>teleport</td>
          <td>instant messages, voice & video calls</td>
          <td>Slack, Telegram & Skype</td>
        </tr>
        <tr>
          <td>magic1</td>
          <td>video conferences 2 clicks away</td>
          <td>Zoom</td>
        </tr>
        <tr>
          <td>schedule</td>
          <td>calendar</td>
          <td>Google Calendar</td>
        </tr>
        <tr>
          <td>meet</td>
          <td>scheduling tool</td>
          <td>Calendly</td>
        </tr>
        <tr>
          <td colspan="2">time tracker</td>
          <td>Clockify & Toggl</td>
        </tr>

        <tr>
          <tr>
            <td>rays</td>
            <td colspan="2">ongoing attempt to build #better email</td>
          </tr>
        </tr>
      </table>

      <table class="hm ui fixed table subscription__table">
        <tr>
          <td colspan="3"><h4>coming soon</h4></td>
        </tr>
        <tr>
          <td>XO</td>
          <td colspan="2">visual feedback</td>
        </tr>
      </table>


    </div>
    <div class="eight wide column">

      <div style="margin-right:6rem;margin-bottom:6rem">

        <h3><del>$14 \ month</del></h3>
        <h2>closed alpha</h2>
        <p>We still work through pilots and hand pick early adopters to polish the system</p>

        <a class="ui basic button large" id="earlyAccess"
        href="/request-holonsme-early-access-imJH">request early access</a>

        <!-- <p>It's subject to 12 month <b>price grandfathering</b> i.e. continue paying the same price
          while we increase pricing for new customers as holons.me evolves.
          That includes accounts of your employees during the same period.</p>

        <img src="https://sun9-33.userapi.com/impg/7C1cVG7zywM4nnwHcEJ1JEtQVk2sbCUcMPH5SQ/DFNRB7EFeaQ.jpg?size=866x264&quality=96&sign=0a04f5b73c1d947b617b291b96dd5c89&type=album"
        width="100%">

        <br><br>

        <p><b>cancel any time</b> w/ 3 clicks at <a class="hm link" href="/identity">Identity</a></p>-->
      </div>


      <div id="coreSubscriptionEtras">


        <table class="hm ui fixed table subscription__table">
          <tr>
            <td><h3>extras</h3></td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>invoices @relations</td>
            <td>accept payments online</td>
            <td>$3 + 2.99% per transaction including withdrawal</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>hosted email inboxes</td>
            <td></td>
            <td>$5 per inbox</td>
          </tr>
          <tr>
            <td>plato's flywheel</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>equity @moneta</td>
            <td>cap table and profit management policy</td>
            <td>
              not legally binding version is free
            </td>
          </tr>
          <tr>
            <td>legally binding contracts</td>
            <td></td>
            <td>coming soon</td>
          </tr>
          <tr>
            <td>hosting & asset management</td>
            <td></td>
            <td>coming soon</td>
        </table>

        <!--<p><i class="circle outline icon"></i></p>
        <p><i class="circle outline icon"></i></p>
        <p><i class="circle outline icon"></i></p>-->

        <p>Some nodes are avaliable only to
          <i class="circle outline icon" style="color:#FFCF4A"></i>Holons Gold and <i class="circle icon"></i>Holons Classic accounts,
          which are invite-only (not purchasable)</p>
      </div>

    </div>
  </div> <!-- grid ends -->

</div>

<style media="screen">
  /*p, li { font-size: 140% }*/

  #coreSubscriptionEtras {
    background: #23272B;
    padding: 2rem;
    width: 100%;
    min-height: 100vh;

  }
  #coreSubscriptionEtras td,
  #coreSubscriptionEtras p,
  #coreSubscriptionEtras h3 {
    color: #F7F8FA
  }
  /*.subscription__table tr {
    border-bottom: 1px solid #23272B
  }*/

  #earlyAccess {
    background: #23272B !important;
    width: 100%;
    color: #F7F8FA !important;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  #earlyAccess:hover{ box-shadow: 0 0 4px 3px rgba(0,0,0,.15) !important }
</style>
