/* --------------------
  Squish
-------------------- */

.tabs-wrapper {
  -moz-transition: -moz-transform 0.35s ease-out, opacity 0.35s ease-out;
  -o-transition: -o-transform 0.35s ease-out, opacity 0.35s ease-out;
  -webkit-transition: -webkit-transform 0.35s ease-out, opacity 0.35s ease-out;
  transition: transform 0.35s ease-out, opacity 0.35s ease-out;
}
.loading .tabs-wrapper, .tabs-wrapper.loading {
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
  -moz-transition: -moz-transform 0.35s ease-in, opacity 0.35s ease-in;
  -o-transition: -o-transform 0.35s ease-in, opacity 0.35s ease-in;
  -webkit-transition: -webkit-transform 0.35s ease-in, opacity 0.35s ease-in;
  transition: transform 0.35s ease-in, opacity 0.35s ease-in;
  opacity: 0;
}
.item {
  -moz-transition: -moz-transform 0.45s ease-out, opacity 0.45s ease-out;
  -o-transition: -o-transform 0.45s ease-out, opacity 0.45s ease-out;
  -webkit-transition: -webkit-transform 0.45s ease-out, opacity 0.45s ease-out;
  transition: transform 0.45s ease-out, opacity 0.45s ease-out;
  opacity: 1;
}
.loading .item, .item.loading {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: -moz-transform 0.45s ease-in, opacity 0.45s ease-in;
  -o-transition: -o-transform 0.45s ease-in, opacity 0.45s ease-in;
  -webkit-transition: -webkit-transform 0.45s ease-in, opacity 0.45s ease-in;
  transition: transform 0.45s ease-in, opacity 0.45s ease-in;
  opacity: 0;
}
