{% load static %}


<div class="hm modal" id="importGlobalModal">

<div class="content">

    <h2 class="title">import from elsewhere</h2>

    <br><br>
    <!--<p style="text-align:center">
      Invited people will be added to your address book <a href="/rays">@rays</a></p>

    <br>

    <p>Few things you should know:</p>-->

    <div class="ui grid" style="margin-bottom: 2rem">
      <div class="eight wide column">
        <h3>Data</h3>
        <p>While we have connectors built for some services,
          we still process each request manually for a number of reasons. </p>
        <!--<p>Given recommendations & gettin' paid for that kinda kills the vibe, so we pay that comission
          (w/ unspecified rates) on ALL invitee spent on the platform and on ALL spend of people they invited as well.</p>
        <p>Remuneration will be added ddirectly to your wallets <a href="/moneta">@moneta</a> </p>-->
        <h3>Reputation & Portfolios</h3>
        <p>Import established reputation from elsewhere (e.g. Upwork, Dribbble, etc)
          to be displayed on your profile
         </p>

         <p>Get started:</p>

      </div>
      <div class="eight wide column">
        <h3>Connections</h3>
        <p>
          <del>(1) Import contacts by using @teleport and @mail</del> <br>
          <i>//scheduled for development</i>
        </p>
        <p>(2) Through invites and offers</p>

        <br><br>

        <div class="personification" style="margin:0">
          <img src="https://holons.me/static/img/mercury.jpg">
          <a href="https://holons.me/import-requests-5JOw">talk to mercury</a>
        </div>
      </div>
    </div>

</div>


</div>
