{% load static %}

<div class="hm modal invite-modals" id="inviteModal">

    <div class="content">

        <h2 class="title">Invite people</h2>

        <p style="text-align:center">
          Invited people will be added to your address book <a class="hm link" href="/rays">@rays</a></p>

        <br>

        <p>Few things you should know:</p>

        <div class="ui grid" style="margin-bottom: 2rem">
          <div class="eight wide column">
            <h3>Commision</h3>
            <p>To give recommendation & gettin' paid for that kinda kills the vibe.</p>
            <p>So we pay that comission w/ unspecified rates on ALL invitee spent on the platform
            and on ALL spend of people they invited as well.</p>
            <p>Comission will be added directly to your wallets <a class="hm link" href="/moneta">@moneta</a> </p>
          </div>
          <div class="eight wide column">
            <h3>Special invites</h3>
            <p>Inviting people to <a class="hm link" href="/layers">workspaces</a> adds them to your address book as well</p>
            <p>If you onboard employee – better <a class="hm link" href="/relations">comb a buy offer</a> right away</p>

            <h3>Responsibility</h3>
            <p>Be selective on people you invite to the community.</p>
          </div>
        </div>

         <div style="text-align: center">
          <div class="ui icon input" id="generateCodeProgress">
            <input id="inviteCode" type="text" disabled>
          </div>
          <div class="ui basic button" id="generateCodeBt"><span class="ui">ok. go</span></div>
          <div class="ui basic button" id="copyCodeBt" style="display: none"><span class="ui">Copy invitation link</span></div>
        </div>
    </div>

</div>
