{% load static %}


<div class="hm modal" id="supportModal">

<div class="content">

  <h2 class="title">support</h2>

  <p>Please, route bug reports and feature requests (especially feature requests)
    to <a class="hm link"
    href="https://holons.me/holonsme-support-requests-Eqy6">Dmitrii B.</a>. Dmitrii is a product owner
     whose agency builds
     <a class="hm link"
     href="https://holons.me/markets/concession/one/">Holons.me Core Experience</a>
  </p>

  <p>SLA response time for paid accounts: 10 hours</p>
  <p>SLA response time for unpaid accounts: 24 hours</p>

  <br><br>
  <p>Real time 24/7 support team is scheduled for development</p>


</div>


</div>
