{% load static %}

<div class="hm modal" id="voiceModal">

  <div class="content" style="border-color: #FFCF4A">

    <h2 class="title">voice headless input</h2>

    <p>The best UI is
      <a class="hm link"
      href="https://odyssey.holons.me/style-references/headless">
      no UI at all.</a></p>

    <p>//the problem w/ voice driven UIs</p>

    <p>So voice headless input is an exploration of
      creating a wearable devices w/
      human backed AI tech and infrastructure.</p>

  </div>

</div>
