{% extends "layouts/main.html" %}
{% load static %}
{% block content_area %}


{% include "layers/sub_menu.html" %}


<div class="ui grid">
  <div class="three wide column hosting-items pdng0">

        <div class="ctas">
          <a class="">
            + host
          </a>
          <a class="">
            + migrate
          </a>
          <a class="">
            + demo
          </a>
        </div>

        <a class="item active" href="/workspaces.html">
          <h3>the.gt</h3>
        </a>
        <a class="item">
          <h3>holons.me</h3>
        </a>
        <a class="item">
          <h3>aesop.today</h3>
        </a>
        <a class="item">
          <h3>hound.outreach</h3>
          <span>demo</span>
        </a>
        <a class="item">
          <h3>rewindguide.com</h3>
          <span>shared</span>
        </a>
        <a class="item">
          <h4 style="text-align:right">
            accouunt billing<br>
            $27.6 / $40</h4>
        </a>

        <br><br><br>

        <p>
          This component is built by <br>
          <a href="#">Henry F. Wilford Industries</a> <br>
          <a href="#">#concession</a> #207
        </p>

  </div>
  <div class="thirteen wide column hosting-working">
    <div class="ui secondary menu secondary-navigation">

        <a class="item active">
          performance
        </a>
        <a class="item">
          campaigns
        </a>
        <a class="item">
          staging
        </a>

        <div class="right menu">
          <a class="item">
            CDN <!-- worldwide coverage upsale -->
          </a>
          <a class="item">
            backups <!-- retention period upsale -->
          </a>
          <a class="item">
            logs
          </a>
          <a class="item">
            access <!-- users, FTP creds -->
          </a>
          <a class="item">
            billing & usage
          </a>
        </div>
    </div>

<br><br>

    <div class="ui secondary menu secondary-navigation" style="overflow: hidden;">

      <a class="item" href="#">
        2020
      </a>
      <a class="item" href="#">
        past month
      </a>
      <a class="item active" href="#">
        this month
      </a>
      <a class="item" href="#">
        [ custom date picker ]
      </a>

      <a class="item" href="#">
        [ content groupings selector ]
      </a>

      <div class="right menu">
        <span class="item">
          Last updated: 7 hour ago
        </span>
      </div>

    </div>

<div class="asset-summary">



    <table class="ui fixed table dots-item summmary">
      <thead>
        <tr>
          <td colspan="7">
            <h2 class="vip-title" style="text-align:right">
              Executive Summmary</h2>
          </td>
        </tr>
      </thead>

      <tr>
        <!-- UA -->
        <td rowspan="2">
          users total
          <h2> 1000</h2></td>
        <td>
          conversions
          <h2>100</h2></td>
        <td>
          Bounces
          <h2>60%</h2></td>

        <!-- GSC -->
        <td rowspan="2">
          Position
         <h2>10</h2> </td>
        <td rowspan="2">
          Impressions
        <h2>10</h2> </td>
        <td>
          Clicks
        <h2>10</h2> </td>

        <!-- page speed-->
        <td>
          page speed
          <h2>2.3 sec</h2>
        </td>
      </tr>
      <!--benchmarks -->
      <tr>
        <td>
          10% CR
        </td>
        <td>30% benchmark</td>
        <td>
          10% CTR <br>
          3% benchmark</td>
        <td>
          benchmark: < 1 sec <br>
          13 issues
        </td>
      </tr>

      <tfoot>
        <tr>
          <td colspan="3">Universal Analytics</td>
          <td colspan="3">Search Console</td>
          <td>Insights</td>
        </tr>
      </tfoot>
    </table>

    <div class="ui secondary menu secondary-navigation hosting-audits">


        <h3 class="item vip-title" style="padding-left: 0; margin-left: 0">
          Audits</h3>
        <a class="item yet">
          <i class="circle outline icon"></i>
          CRO
        </a>
        <a class="item yet">
          <i class="circle outline icon"></i>
          Analytics Set Up
        </a>


        <div class="right menu">
          <a class="item already">
            <i class="circle icon"></i>
            page speed & web vitals
          </a>
        </div>
    </div>

</div>


    <table class="ui fixed table dots-item">
      <thead>
        <tr>
          <td colspan="7">
            <h2>Page Title in Here</h2>
          </td>
          <td rowspan="2">get backlinks</td>
          <td rowspan="2">setup ads</td>
        </tr>
        <tr>
          <td colspan="7">
            <a href="#">the.gt/page-link-in-here</a>
          </td>
        </tr>
      </thead>

      <tr>
        <!-- UA -->
        <td rowspan="2">
          users total
          <h2> 1000</h2></td>
        <td>
          conversions
          <h2>100</h2></td>
        <td>
          Bounces
          <h2>60%</h2></td>

        <!-- GSC -->
        <td rowspan="2">
          Position
         <h2>10</h2> </td>
        <td rowspan="2">
          Impressions
        <h2>10</h2> </td>
        <td>
          Clicks
        <h2>10</h2> </td>

        <!-- page speed-->
        <td>
          page speed
          <h2>2.3 sec</h2>
        </td>

        <!-- black boxes -->
        <td>Backlinks <br>
          <h2>10</h2>
        </td>
        <td>
          PPC
        </td>
      </tr>
      <!--benchmarks -->
      <tr>
        <td>
          10% average <br>
          11% organic <br>
          9% PPC
        </td>
        <td>30% benchmark</td>
        <td>3% benchmark</td>
        <td>
          benchmark: < 1 sec <br>
          13 issues
        </td>
        <td>TOP 10 estimate: 10</td>
        <td></td>
      </tr>

    </table>

<!--
    <img src="https://sun9-12.userapi.com/impg/dXrOgaUpb3Sw91sylFZSUWA8gkQ1t0I5cSIEtQ/s4UxpXYIvho.jpg?size=1633x1051&quality=96&proxy=1&sign=f47a8f36c57db697094f85220460af78&type=album"
    width="100%">-->
  </div>
</div>


{% endblock %}
