{% extends "layouts/main.html" %}
{% load static %}
{% block content_area %}

<!--<div class="ui secondary menu secondary-navigation">




    {% if request.path == '/email' %}
      <a class="item active" href="/email">main</a>
    {% else  %}
      <a class="item" href="/email">main</a>
    {% endif %}

    <div class="right menu">
      <a class="item">hosted inboxes</a>
      <a class="item disabled"><i class="clock outline icon"></i>sequences</a>
      <a class="item disabled"><i class="clock outline icon"></i>routing & fancy stuff</a>
    </div>

</div>-->


  <div id="app">
      <email-ui></email-ui>
  </div>
{% endblock %}
