
.hm.button.core {
  width: 100%;
  background: #23272B;
  color: #F7F8FA;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Poppins';
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  border:none;
  letter-spacing: 1px;
}

.hm.button.core:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,.3);
  cursor: pointer;
}

.personification {
  border: 1px solid rgba(255,255,255,.15);
  margin: 2rem;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.35);
  height: 42px;
  background: #2B2B2D;
}

.personification img {
  display: inline-block;
  width: 40px}

.personification a {
  line-height: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: calc(100% - 44px);
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.personification:hover {
  cursor: pointer;
  transform: translate(1px,1px);
  box-shadow: 2px 2px 7px 3px rgba(0,0,0,.45);
}


.hm.link {
  color:#23272B;
  font-weight: bolder;
  border-bottom: 2px solid #23272B;
}

.hm.link:hover {
  cursor: pointer;
  border-bottom: 1px solid #23272B;
}

.hm.link.inverted {
  color: #F7F8FA;
  font-weight: bolder;
  border-bottom: 2px solid #F7F8FA;
}
.hm.link.inverted:hover {
  cursor: pointer;
  border-bottom: 1px solid #F7F8FA;
}
